<div class="nypr-o-audio-player-level-one-four" data-test-element="level-one-four">
  {{#if @levelOne}}
  <div class="nypr-o-audio-player-level-one" data-test-element="level-one">
    {{strip-html @levelOne}}
  </div>
  {{/if}}

  {{#if @levelFour}}
    <div class="nypr-o-audio-player-level-four" data-test-element="level-four">
      {{strip-html @levelFour}}
    </div>
  {{/if}}
</div>

<NyprMPlayButton @playItemId={{this.streamSlug}} class="nypr-o-audio-player-play-button" data-test-element="play-button"/>

<NyprMTrackAdditionalInfo class="nypr-o-audio-player-level-two-three" data-test-element="track" @ensembleName={{levelSix}} @conductorName={{levelFive}} as |options|>
  {{#if @levelTwo}}
    <div class="nypr-o-audio-player-level-two mod-scrolling-overflow" data-test-element="level-two">
      {{strip-html @levelTwo}}
    </div>
  {{/if}}

  {{#if @levelThree}}
    <div class="nypr-o-audio-player-level-three {{if @levelTwo 'nypr-o-audio-player-level-two-visible'}} mod-scrolling-overflow" data-test-element="level-three">
      <span class="nypr-o-audio-player-level-three-text">{{strip-html @levelThree}}</span>
      {{options.icon}}
    </div>
  {{/if}}
</NyprMTrackAdditionalInfo>

<div class="nypr-o-audio-player-controls">
  {{#if (can-change-volume)}}
    {{nypr-m-volume-control
      volume     = hifi.volume
      setVolume  = (action "setVolume")
      toggleMute = (action "toggleMute")
      isMuted    = hifi.isMuted}}
  {{/if}}
</div>
