{{#if @url}}
  <a href={{@url}} target="_blank" rel="noopener" aria-label={{@ariaLabel}}>
    <NyprAPicture
      @srcS={{@srcS}}
      @breakM={{@breakM}}
      @srcM={{@srcM}}
      @breakL={{@breakL}}
      @srcL={{@srcL}}
      @breakXl={{@breakXL}}
      @srcXl={{@srcXL}}
      @alt={{@alt}}
      @lazy={{@lazy}}
      @width={{@width}}
      @height={{@height}}
      @srcSet={{@srcSet}}
      @ratio={{@ratio}}
    />
  </a>
{{else if @route}}
  {{#link-to params=@route aria-label=@ariaLabel}}
    <NyprAPicture
      @srcS={{@srcS}}
      @breakM={{@breakM}}
      @srcM={{@srcM}}
      @breakL={{@breakL}}
      @srcL={{@srcL}}
      @breakXl={{@breakXL}}
      @srcXl={{@srcXL}}
      @alt={{@alt}}
      @lazy={{@lazy}}
      @width={{@width}}
      @height={{@height}}
      @srcSet={{@srcSet}}
      @ratio={{@ratio}}
    />
  {{/link-to}}
{{else}}
  <NyprAPicture
    @srcS={{@srcS}}
    @breakM={{@breakM}}
    @srcM={{@srcM}}
    @breakL={{@breakL}}
    @srcL={{@srcL}}
    @breakXl={{@breakXL}}
    @srcXl={{@srcXL}}
    @alt={{@alt}}
    @lazy={{@lazy}}
    @width={{@width}}
    @height={{@height}}
    @srcSet={{@srcSet}}
    @ratio={{@ratio}}
  />
{{/if}}

{{#if @tag}}
  {{#link-to params=@tag.route class="c-block__tag o-kicker"}}{{@tag.label}}{{/link-to}}
{{/if}}
