{{#if @url}}
  <a href={{@url}} target="_blank" rel="noopener">
    <NyprAPicture
      @src-s={{@srcS}}
      @break-m={{@breakM}}
      @src-m={{@srcM}}
      @break-l={{@breakL}}
      @src-l={{@srcL}}
      @break-xl={{@breakXL}}
      @src-xl={{@srcXL}}
      @alt={{@alt}}
      @lazy={{@lazy}}
      @width={{@width}}
      @height={{@height}}
    />
  </a>
{{else if @route}}
  {{#link-to params=@route}}
    <NyprAPicture
      @src-s={{@srcS}}
      @break-m={{@breakM}}
      @src-m={{@srcM}}
      @break-l={{@breakL}}
      @src-l={{@srcL}}
      @break-xl={{@breakXL}}
      @src-xl={{@srcXL}}
      @alt={{@alt}}
      @lazy={{@lazy}}
      @width={{@width}}
      @height={{@height}}
    />
  {{/link-to}}
{{else}}
  <NyprAPicture
    @src-s={{@srcS}}
    @break-m={{@breakM}}
    @src-m={{@srcM}}
    @break-l={{@breakL}}
    @src-l={{@srcL}}
    @break-xl={{@breakXL}}
    @src-xl={{@srcXL}}
    @alt={{@alt}}
    @lazy={{@lazy}}
    @width={{@width}}
    @height={{@height}}
  />
{{/if}}

{{#if @tag}}
  {{#link-to params=@tag.route class="c-block__tag o-kicker"}}{{@tag.label}}{{/link-to}}
{{/if}}
