{{#if (eq @h2 '')}}
  <h2
    class="c-block__title {{this.iconClassNames}}"
    data-test-block-title
  >
    <NyprMBlock::TitleLayout @route={{@route}} @url={{@url}} @hasGallery={{@hasGallery}} @hasVideo={{@hasVideo}} @hasAudio={{@hasAudio}}>
      {{yield}}
    </NyprMBlock::TitleLayout>
  </h2>
{{else if (eq @h3 '')}}
  <h3
    class="c-block__title {{this.iconClassNames}}"
    data-test-block-title
  >
    <NyprMBlock::TitleLayout @route={{@route}} @url={{@url}} @hasGallery={{@hasGallery}} @hasVideo={{@hasVideo}} @hasAudio={{@hasAudio}}>
      {{yield}}
    </NyprMBlock::TitleLayout>
  </h3>
{{/if}}
