{{#if (eq @h2 '')}}
  <h2 class="c-block__title {{this.iconClassNames}}">
    {{#nypr-m-block/title-layout
      route=@route
      url=@url
      hasGallery=@hasGallery
      hasVideo=@hasVideo
      hasAudio=@hasAudio
      data-test-block-title=true
    }}
      {{yield}}
    {{/nypr-m-block/title-layout}}
  </h2>
{{else if (eq @h3 '')}}
  <h3 class="c-block__title {{this.iconClassNames}}">
    {{#nypr-m-block/title-layout
      route=@route
      url=@url
      hasGallery=@hasGallery
      hasVideo=@hasVideo
      hasAudio=@hasAudio
      data-test-block-title=true
    }}
      {{yield}}
    {{/nypr-m-block/title-layout}}
  </h3>
{{/if}}
