{{#if @url}}
  <a href={{@url}} target="_blank" rel="noopener">
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@title}}
    {{/if}}
  </a>
{{else if @route}}
  {{#link-to params=@route class="c-block__title-link"}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@title}}
    {{/if}}
  {{/link-to}}
{{else}}
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@title}}
  {{/if}}
{{/if}}
