{{!-- BEGIN-SNIPPET nypr-o-header-left.hbs --}}
{{#if showMenuButton}}
  <div class="c-menu-toggle">
    <NyprAButton class="o-menu-toggle" aria-expanded={{ariaExpanded}} aria-label={{ariaLabel}} @blank={{true}} @onclick={{@openMenu}}>
      <span class="is-vishidden">Menu</span>
      <span class="o-menu-toggle__line"></span>
    </NyprAButton>
  </div>
{{/if}}

<div class="c-main-header__branding" name="logo">
  {{yield (hash branding=(component 'blank-template'))}}
</div>

{{yield (hash headline=(component 'nypr-o-header/headline'))}}
{{!-- END-SNIPPET --}}
