{{!-- BEGIN-SNIPPET nypr-o-header-menu.hbs --}}
<div class="c-menu-toggle" name="sideMenuToggle">
  <NyprAButton class="o-menu-toggle" aria-expanded={{ariaExpanded}} aria-label={{ariaLabel}} @blank={{true}} @onclick={{@close}}>
    <span class="is-vishidden">Menu</span>
    <span class="o-menu-toggle__line"></span>
  </NyprAButton>
</div>

<div class="c-side-menu__group">
  <div class="c-side-menu__aria-begin is-vishidden">menu content begins</div>

  <div class="c-side-menu__branding">
    {{yield (hash branding=(component 'blank-template'))}}
  </div>

  <NyprAButton class='c-side-menu__donate mod-donate' name="donateSideMenu" @url={{@donateUrl}}>
    Donate
  </NyprAButton>

  {{yield (hash primaryNav=(component 'nypr-o-header/nav' class="c-primary-nav--side"))}}

  <div class="c-side-menu__component">
    {{yield (hash component=(component 'blank-template'))}}
  </div>

  <NyprMInlineSearch @formClass="c-search--side u-space--triple--top" @search={{@searchAction}}/>

</div>

<div class="c-side-menu__group">

  <div class="c-side-menu__secondary-nav" name="miscNavSideMenu">
    {{yield (hash secondaryNav=(component 'nypr-m-secondary-nav'))}}
  </div>

  <div class="c-side-menu__social" name="shareToolSideMenu">
    {{yield (hash social=(component 'nypr-m-share-tools'))}}
  </div>

  <div class="c-side-menu__nypr-logo">
    <Icon @icon='nypr-logo' @title="nypr logo"/>
  </div>

  <div class="c-side-menu__nypr-linkroll">
    <NyprMBrandsLinkroll @exclude='gothamist'/>
  </div>

</div>

<div class="c-side-menu__group u-spacing--double">

  <div class="c-side-menu__copyright">
    <p class="u-font--secondary-style u-font--xs u-color--white">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio. All rights reserved.</p>
  </div>

  <div class="c-side-menu__terms-links">
    <a href="https://www.wnyc.org/terms" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener" name="termsSideMenu">
      <strong>Terms of Use</strong>
    </a>
    <a href="https://www.wnyc.org/privacy" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener" name="privacySideMenu">
      <strong>Privacy Policy</strong>
    </a>
  </div>

  <div class="c-side-menu__aria-end is-vishidden">menu content ends</div>
</div>

{{!-- END-SNIPPET --}}
