{{!-- BEGIN-SNIPPET nypr-o-header-menu.hbs --}}
<div class="c-menu-toggle">
  <NyprAButton class="o-menu-toggle" aria-expanded={{ariaExpanded}} aria-label={{ariaLabel}} @blank={{true}} @onclick={{@close}}>
    <span class="is-vishidden">Menu</span>
    <span class="o-menu-toggle__line"></span>
  </NyprAButton>
</div>

<div class="c-side-menu__group">
  <div class="c-side-menu__aria-begin is-vishidden">menu content begins</div>

  <div class="c-side-menu__branding">
    {{yield (hash branding=(component 'blank-template'))}}
  </div>

  <NyprAButton class='c-side-menu__donate mod-donate' @url={{@donateUrl}}>
    Donate
  </NyprAButton>

  {{yield (hash primaryNav=(component 'nypr-o-header/nav' class="c-primary-nav--side"))}}

  <div class="c-side-menu__social">
    {{yield (hash social=(component 'nypr-m-share-tools'))}}
  </div>

</div>

<div class="c-side-menu__group">

  <div class="c-side-menu__secondary-nav">
    {{yield (hash secondaryNav=(component 'nypr-m-secondary-nav'))}}
  </div>

  <div class="u-spacing">
    {{yield (hash
      search=(component 'nypr-m-inline-search' formClass="c-search--side")
      tipButton=(component 'nypr-a-button' class="c-side-menu__send-story o-button--c-quaternary u-full-width")
    )}}
  </div>

  <div class="c-side-menu__nypr-logo">
    <NyprASvg @icon='nypr-logo'/>
  </div>

  <div class="c-side-menu__nypr-linkroll">
    <NyprMBrandsLinkroll @exclude='gothamist'/>
  </div>

</div>

<div class="c-side-menu__group u-spacing--double">

  <div class="c-side-menu__copyright">
    <p class="u-font--secondary-style u-font--xs u-color--white">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio. All rights reserved.</p>
  </div>

  <div class="c-side-menu__terms-links">
    <a href="https://www.wnyc.org/terms" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener">
      <strong>Terms of Use</strong>
    </a>
    <a href="https://www.wnyc.org/privacy" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener">
      <strong>Privacy Policy</strong>
    </a>
  </div>

  <div class="c-side-menu__aria-end is-vishidden">menu content ends</div>
</div>

{{!-- END-SNIPPET --}}
