{{#each-in colors as |color hex|}}
  <div class="color-swatch flex flex-col mb-5 px-1 lg:w-1/3">
    {{color-showcase/swatch color=hex class="h-32 mb-1"}}

    {{color-showcase/gradient color=hex class=""}}

    <span class="mb-3 block">{{humanize (dasherize color)}}</span>

    {{color-showcase/row label='HEX' color=hex}}
    {{color-showcase/row label='RGB' color=(to-color hex 'rgb')}}
    {{color-showcase/row label='CMYK' color=(to-color hex 'cmyk')}}
  </div>
{{/each-in}}
