<div class='stream-switcher-streams-stream-title'>
  {{molecule/sound-animation isPlaying=this.isPlaying}}
  {{stream.name}}
</div>
<NyprMOnAirImage
  @stream={{stream.stream}}
  @show={{stream.liveAiring.show}}
/>
<div class='stream-switcher-streams-stream-show'>
  <div class='stream-switcher-streams-stream-on-now'>on now</div>
  <div class='stream-switcher-streams-stream-show-title'>
    {{stream.liveAiring.showTitle}}
  </div>
</div>
{{#if stream.nextAiring}}
  {{molecule/up-next airing=stream.nextAiring}}
{{/if}}
