<div class='stream-switcher-streams-stream-title'>{{stream.name}}</div>
{{molecule/sound-animation isPlaying=this.isPlaying}}
<NyprMOnAirImage
    @stream={{stream.stream}}
    @show={{stream.liveAiring.show}}
/>
<div class='stream-switcher-streams-stream-show-title'>
    {{stream.liveAiring.showTitle}}
</div>
{{#if stream.nextAiring}}
    {{molecule/up-next airing=stream.nextAiring}}
{{/if}}
