<div class='metadata'>
    <div class='image'>
        <img
            alt="image for {{altText}}"
            src={{airing.show.image.url}}>
    </div>
    <div class="text-outer">
        <div class='title-outer'>
            <div class="label">up next</div>
            <div class="title">{{airing.showTitle}}</div>
        </div>
        <div class="time">{{time}}</div>
    </div>
</div>
<a class='full-schedule-button' href='{{scheduleUrl}}' target='_blank'>view full schedule</a>

{{yield}}