<footer class="c-main-footer" data-test-main-footer ...attributes>

  <div class="l-container">
    <div class="l-grid l-grid--2up l-grid--large-gutters">
      <div>
        <div class="c-main-footer__logo u-space--double--bottom">
          <LinkTo @route="index" @aria-label="home page">
            {{yield (hash logo=(component 'blank-template'))}}
          </LinkTo>
        </div>
        <div class="c-main-footer__slogan u-space--double--bottom">
          {{yield (hash slogan=(component 'blank-template'))}}
        </div>
        <div class="c-main-footer__nav c-main-footer__primary-nav" name="primaryNavFooter">
          {{yield (hash primaryNav=(component 'nypr-m-secondary-nav'))}}
        </div>
        <div class="c-main-footer__left-component">
          {{yield (hash leftComponent=(component 'blank-template'))}}
        </div>
      </div>

      <div>
        <div class="c-main-footer__right-component">
          {{yield (hash rightComponent=(component 'blank-template'))}}
        </div>
        <div class="l-grid l-grid--2up l-grid--2up--small">
          <div class="c-main-footer__secondary-nav u-space--double--bottom" name="secondaryNavFooter">
            {{yield (hash secondaryNav=(component 'nypr-m-secondary-nav'))}}
          </div>
          <div class="c-main-footer__secondary-nav u-space--double--bottom" name="tertiaryNavFooter">
            {{yield (hash tertiaryNav=(component 'nypr-m-secondary-nav'))}}
          </div>
        </div>
      </div>

    </div>

    <div class="l-grid l-grid--2up--xlarge l-grid--middle l-grid--large-gutters">
      <div class="c-main-footer__brand-group u-space--triple--top">
        <div class="c-main-footer__nypr-logo">
          <Icon @icon='nypr-logo' @title="NYPR logo"/>
        </div>
        <NyprMBrandsLinkroll @exclude={{@site}}/>
      </div>
      <div class="c-main-footer__social" name="shareToolFooter">
        {{yield (hash social=(component 'blank-template'))}}
      </div>
    </div>

    <div class="c-main-footer__bottom u-space--top">
      <div class="c-main-footer__copyright">
        <p class="u-font--secondary-style u-font--xs c-main-footer__copyright-text u-color--white">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio. All rights reserved.</p>
      </div>
      <div class="c-main-footer__terms-links">
        <a href="https://www.wnyc.org/terms" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener" name="termsFooter">
          Terms of Use
        </a>
        <a href="https://www.wnyc.org/privacy" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener" name="privacyFooter">
          Privacy Policy
        </a>
        <a href="https://media.wnyc.org/media/resources/2020/Oct/30/accessibility_policy_10.30.20.pdf" class="u-font--secondary-style u-font--xs" target="_blank" rel="noopener" name="accessibilityFooter">
          Accessibility
        </a>
      </div>
    </div>

  </div>

</footer>