{{!-- BEGIN-SNIPPET nypr-m-byline.hbs --}}
{{#if @authors}}
  By
  {{#each @authors as |author|}}
    {{~#if (and (not (has-next author @authors)) (gt @authors.length 1))~}}
      &nbsp;and&nbsp;
    {{~else if (and (has-next author @authors) (has-previous author @authors))~}}
      ,&nbsp;
    {{~/if~}}
    {{#if author.route}}
      {{#link-to params=author.route class="u-has-accent u-has-accent--neutral" data-test-author-name=author.name}}
        {{author.name}}
      {{/link-to}}
    {{else}}
      <a
        href={{author.url}}
        target="_blank"
        rel="noopener"
        class="u-has-accent u-has-accent--neutral"
        data-test-author-name
      >
        {{author.name}}
      </a>
    {{/if}}
    {{~#with author.org as |org|~}}
      {{#if org.external_link}}
        <a href={{org.external_link}} target="_blank" rel="noopener" class="u-has-accent u-has-accent--neutral" data-test-author-org-link>(<span data-test-author-org>{{org.name}}</span>)</a>
      {{else}}
        (<span data-test-author-org>{{org.name}}</span>)
      {{/if}}
    {{~/with~}}
  {{/each}}
{{else if @sponsor}}
  <a href={{@sponsor.url}} target="_blank" rel="noopener" data-test-sponsor-name>Sponsored by {{@sponsor.name}}</a>
{{/if}}
{{!-- END-SNIPPET --}}
