{{!-- BEGIN-SNIPPET nypr-o-newsletter-tout.hbs --}}
<div class="c-newsletter-tout__inner" name="newsletterSection">
  {{#if @ariaTitle}}<h2 class="is-vishidden">{{@ariaTitle}}</h2>{{/if}}
  <div class="c-newsletter-tout__media">
    <NyprAPicture
      @srcS={{@img.src}}
      @alt={{@img.alt}}
    />
  </div>

  <div class="c-newsletter-tout__content u-spacing">

    <div class="c-newsletter-tout__text u-spacing">
      <h3 class="c-newsletter-tout__heading" name="newsletterHeader" data-test-newsletter-tout-heading>
        <strong>
          {{yield (hash heading=(component 'blank-template'))}}
        </strong>
      </h3>
      <div class="c-newsletter-tout__dek o-rte-text" data-test-newsletter-tout-blurb>
        {{yield (hash blurb=(component 'blank-template'))}}
      </div>
    </div>

    <NyprMNewsletterForm
      class="c-newsletter-tout__form u-spacing gtm__click-tracking"
      @endpoint={{@endpoint}}
      @params={{@params}}
      @location="Home Page"
      as |form|>

      <form.label/>

      <form.input name="emailField"/>

      <form.submit data-label="Home Page" name="submitButton">
        <span class="c-newsletter-form__submit-icon o-icon o-icon--newsletter-tout">
          <Icon @icon='gothamist/gothamist-arrow' @title="arrow"/>
        </span>
        <span class="is-vishidden">Submit email</span>
      </form.submit>

      <form.legal>
        {{yield (hash legal=(component form.legal))}}
      </form.legal>
    </NyprMNewsletterForm>

  </div>

</div>
{{!-- END-SNIPPET --}}
