{{!-- BEGIN-SNIPPET nypr-a-button.hbs --}}
{{#if (or @url @route)}}
  {{#if @url}}
    <a
      href={{@url}}
      target="_blank"
      rel="noopener"
      class="{{unless @blank 'o-button'}} {{this.tierClass}} {{@class}}"
      ...attributes>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    </a>
  {{else}}
    {{#link-to
      params=@route
      class=(concat (unless @blank 'o-button') this.tierClass @class)
    }}
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{@text}}
      {{/if}}
    {{/link-to}}
  {{/if}}
{{else}}
  <button
    class="{{unless @blank 'o-button'}} {{this.tierClass}} {{@class}}"
    role={{or @role this.role}}
    type={{or @type this.type}}
    onClick={{optional @onclick}}
    ...attributes>

    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@text}}
    {{/if}}

  </button>
{{/if}}
{{!-- END-SNIPPET --}}
