<div class="c-author-block__meta u-spacing--half">

  <h3 class="c-author-block__title c-block__title" data-test-author-name>
    {{@author.name}}
  </h3>

  <div class="c-author-block__info">
    {{#if @author.title}}
      <span
        class="c-author-block__role u-font--secondary-style u-color--gray u-font--xs"
        data-test-author-title
      >
        <strong>{{@author.title}}</strong>
      </span>
    {{/if}}
    {{#if @articleRoute}}
      <span class="c-author-block__details">
        {{#link-to params=@articleRoute class="c-author-block__details-link u-font--secondary-style u-font--xs u-has-accent u-has-accent--secondary"}}
          Articles
        {{/link-to}}
      </span>
    {{/if}}
  </div>

  <div class="c-author-block__social">
    <NyprMShareTools as |tools|>
      {{#each-in @author.contact as |service value|}}
        <tools.link @service={{service}} @username={{value}}/>
      {{/each-in}}
    </NyprMShareTools>
  </div>

</div>

{{#if @author.image}}
  <div class="c-author-block__media" data-test-author-media>
    <NyprAPicture @srcS={{@author.image}} @alt="" />
  </div>
{{/if}}

<div class="c-author-block__object u-spacing--half">

  {{#if @author.bio}}
    <div class="c-author-block__dek o-rte-text u-spacing js-clamp--3">
      <p data-test-author-bio>
        {{{@author.bio}}}
      </p>
    </div>
  {{/if}}

</div>
