{{! template-lint-disable no-triple-curlies }}
{{!-- BEGIN-SNIPPET nypr-o-donate.hbs --}}
<div class="c-donate-tout__graphic">
  <NyprASvg @icon='pointing-finger'/>
</div>

<div class="c-donate-tout__inner">
  {{#if @close}}
    <NyprAButton class="c-donate-tout__close" data-test-donate-close @onclick={{@close}} @blank={{true}}>
      <span class="o-icon u-icon--xs o-icon--close">
        <NyprASvg @icon='close'/>
      </span>
    </NyprAButton>
  {{/if}}

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    <p data-test-donate-message>
      {{{@message}}}
    </p>
  {{/if}}

  <NyprAButton @url={{@linkUrl}}>
    {{@linkText}}
  </NyprAButton>
</div>
{{!-- END-SNIPPET --}}
