{{#if @navItems}}
  <ul class="c-secondary-nav__list">
    {{#each @navItems as |item i|}}
      <li class="c-secondary-nav__item">
        {{#if item.url}}
          <a
            href={{item.url}}
            class="c-secondary-nav__link u-font--secondary-style u-font--xs"
            target="_blank"
            rel="noopener"
            data-test-seconary-nav-link={{i}}
          >
            {{item.text}}
          </a>
        {{else}}
          {{#link-to
            params=item.route
            class="c-secondary-nav__link"
            data-test-secondary-nav-link=i
          }}
            {{item.text}}
          {{/link-to}}
        {{/if}}
      </li>
    {{/each}}
  </ul>
{{/if}}
