<div class="nypr-player-volume-control">
  <div class="nypr-player-volume-slider-wrapper">
    <div class="js-volume-slider nypr-player-volume-slider">
      <div class="nypr-player-volume-slider-track" style={{trackWidth}} {{! template-lint-disable "no-inline-styles" }}></div>
      <div class="js-volume-slider-handle nypr-player-volume-slider-handle" style={{handlePosition}} {{! template-lint-disable "no-inline-styles" }}></div>
    </div>
  </div>
  <Button class="nypr-player-button mod-volume {{if this.isMuted "is-muted" "is-unmuted"}}"
    @icon={{if isMuted "volume-muted" "volume"}}
    @alt={{if isMuted "Volume, Unmute" "Volume, Mute"}}
    onClick={{action 'toggleMute'}}
  />
</div>
