<div class='schedule-metadata' aria-label="up next at {{time}}: {{airing.showTitle}}">
    <div class='schedule-metadata-image'>
        <img
            alt="{{airing.showTitle}}"
            src={{airing.show.image.url}}
            aria-hidden="true"
        >
    </div>
    <div class="schedule-metadata-copy">
        <div class='schedule-metadata-copy-title'>
            <div class="schedule-metadata-copy-title-label" aria-hidden="true">up next</div>
            <h2 class="schedule-metadata-copy-title-text" aria-hidden="true">{{airing.showTitle}}</h2>
        </div>
        <div class="schedule-metadata-copy-time" aria-hidden="true">{{time}}</div>
    </div>
</div>
<a class='schedule-full-schedule-button' href='{{scheduleUrl}}' target='_blank'>view full schedule</a>

{{yield}}