<div class='whats-on-schedule-metadata'>
    <div class='whats-on-schedule-metadata-image'>
        <img
            alt="image for {{altText}}"
            src={{airing.show.image.url}}>
    </div>
    <div class="whats-on-schedule-metadata-text-outer">
        <div class='whats-on-schedule-metadata-text-outer-title-outer'>
            <div class="whats-on-schedule-metadata-text-outer-title-outer-label">up next</div>
            <div class="whats-on-schedule-metadata-text-outer-title-outer-title">{{airing.showTitle}}</div>
        </div>
        <div class="whats-on-schedule-metadata-text-outer-time">{{time}}</div>
    </div>
</div>
<a class='whats-on-schedule-full-schedule-button' href='{{scheduleUrl}}' target='_blank'>view full schedule</a>

{{yield}}