{{!-- BEGIN-SNIPPET nypr-m-figcaption-credit.hbs --}}
<span class="o-credit">
  {{#if @includeIcon}}
    <span class="o-icon o-icon--dashed-arrow u-icon--s">
      <Icon @icon="gothamist/gothamist-arrow" @title="arrow"/>
    </span>
    <span>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{#if @creditLink}}
          <a href={{@creditLink}} rel="noopener" target="_blank">
            {{{@credit}}}
          </a>
        {{else}}
          {{{@credit}}}
        {{/if}}
      {{/if}}
    </span>
  {{else}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{#if @creditLink}}
        <a href={{@creditLink}} rel="noopener" target="_blank">
          {{{@credit}}}
        </a>
      {{else}}
        {{{@credit}}}
      {{/if}}
    {{/if}}
  {{/if}}
</span>
{{!-- END-SNIPPET --}}
