{{!-- BEGIN-SNIPPET nypr-m-figcaption-credit.hbs --}}
<span class="o-credit">
  {{#if @includeIcon}}
    <span class="o-icon o-icon--dashed-arrow u-icon--s">
      <NyprASvg @icon='arrow-dashed'/>
    </span>
    <span>
      {{#if (has-block)}}
        {{yield}}
      {{else}}
        {{{@credit}}}
      {{/if}}
    </span>
  {{else}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{{@credit}}}
    {{/if}}
  {{/if}}
</span>
{{!-- END-SNIPPET --}}
