{{!-- BEGIN-SNIPPET nypr-m-share-tools-link.hbs --}}
<a href={{or @href this.href}}
   class="c-share-tools__link o-icon {{@service}}"
   aria-label="follow us on {{@service}}"
   ...attributes
   target={{if target @target "_blank"}}
   rel="noopener"
   onclick={{if clickAction (action "handleClick")}}>
  <Icon @icon={{@service}} @title={{@service}}/>
  {{#if title}}
    <div class="c-share-tools__link-title">{{@title}}</div>
  {{/if}}
</a>
{{!-- END-SNIPPET --}}
