<div class="live-indicator">
  <div class="text">live</div>
  <div class="dot"></div>
</div>

<div class="show-content">
  <NyprMOnAirImage
    @stream={{this.nowPlaying.stream}}
    @show={{this.nowPlaying.show}}
    @height={{200}}
    @width={{200}}
    @altText={{onAirTitle}}
  />

  <NyprMPlayButton
    class="text mod-main-page"
    data-action="Clicked Play/Pause Stream: main-player"
    data-label={{this.nowPlaying.stream.name}}
    title={{this.nowPlaying.stream.name}}
    @playItemId={{this.nowPlaying.stream.slug}}
    @playerLabel="main player"
    @textMode={{true}}
  />

  <div class="title" data-test-element="show-title">{{onAirTitle}}</div>
  <div class="description" data-test-element="show-description">{{{strip-html this.nowPlaying.show.about.body}}}</div>
</div>

{{#if displayEpisodeContent}}
  {{organism/main-audio-player/episode-content
    description=this.nowPlaying.stream.currentShow.description
    segments=false
  }}
{{/if}}

{{#if this.nowPlaying.nextAiring}}
  {{organism/main-audio-player/schedule
    airing=this.nowPlaying.nextAiring
    scheduleUrl=scheduleUrl
  }}
{{/if}}

{{yield}}