{{!-- BEGIN-SNIPPET nypr-o-article-header-meta.hbs --}}
<div class="c-article__meta u-spacing--half u-font--secondary-style u-font--xxs">
  {{yield (hash
    byline=(component 'nypr-m-byline')
  )}}
  <div class="c-article__meta-group">
    {{yield (hash publishDate=(component 'nypr-o-article-header/publish-date'))}}

    {{#if @commentCount}}
      &bull;
      <a
        href={{@commentsUrl}}
        class="u-has-accent u-has-accent--secondary"
        data-test-comments-link
      >
        {{@commentCount}} {{if (eq @commentCount 1) 'Comment' 'Comments'}}
      </a>
    {{/if}}

    {{#if @galleryPhotosCount}}
      &bull;
      {{#link-to params=@galleryRoute class="u-has-accent u-has-accent--secondary" data-test-gallery-link=true}}
        {{@galleryPhotosCount}} {{if (eq @galleryPhotosCount 1) 'Photo' 'Photos'}}
        <span class="o-icon o-icon--gallery u-icon--xs">
          <NyprASvg @icon='gallery'/>
        </span>
      {{/link-to}}
    {{/if}}
  </div>
</div>
{{!-- END-SNIPPET --}}
