{{#if (has-block)}}
  <button class="button" type="button" ...attributes>{{yield}}</button>
{{else}}
  {{#if @href}}
      <a class="button  {{if (and @icon (not @label)) "mod-icon-only"}}" href="{{@href}}" ...attributes>
          {{#if @icon}}
              <Icon class="button-icon mod-xs" @name="icon" />
          {{/if}}
          <span class="button-label">{{@label}}</span>
      </a>
  {{else}}
    <button class="button  {{if (and @icon (not @label)) "mod-icon-only"}}" type="button" ...attributes>
      {{#if @icon}}
        <Icon class="button-icon" @icon={{@icon}} @title={{@iconAlt}} />
      {{/if}}
      {{#if @label}}
        <span class="button-label">{{@label}}</span>
      {{/if}}
    </button>
  {{/if}}
{{/if}}

